.icon {
  display: none;

  /* margin-top: -10px;
  margin-right: 10px; */
}
@media (max-width: 768px) {
  .icon {
    display: block;
    position: fixed;
    top: 20px;
    left: 5px;
    cursor: pointer;
  
    width: 35px;
    height: 35px;
    z-index: 10;

  }
}