.link {
  display: none;
}
.link_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  /* background-color: white; */
  height: 80%;
  font-size: 18px;
  letter-spacing: 1.2px;
  cursor: pointer;
  border-radius: 10px;
  background: url(../../../public/images/gerani3_mirrow.png) no-repeat left /
      contain,
    url(../../../public/images/geran3.png) no-repeat right / contain, white;
  /* background-size: contain;
    background-repeat: no-repeat; */

  -webkit-box-shadow: 2px 2px 16px 0px rgba(11, 14, 17, 0.2);
  -moz-box-shadow: 2px 2px 16px 0px rgba(11, 14, 17, 0.2);
  box-shadow: 2px 2px 16px 0px rgba(11, 14, 17, 0.2);
}

@media (max-width: 768px) {
  .link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: rgb(230, 227, 233);
  }
}
