.button {
  /* position: absolute;
  top: 0;
  left: 0; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* align-self: center; */
  text-align: center;
  vertical-align: middle;
  z-index: 3;
  width: fit-content;
  padding: 10px 30px 0 30px;
  /* height: 125px; */
  font-family: var(--gogol-font);
  font-size: 58px;
  font-weight: 100;
  border: none;
   background-color: white;
   
   /* color: #bcb8b7; */
   cursor: pointer;
   -webkit-box-shadow: 2px 2px 16px 0px rgba(11, 14, 17, 0.2);
   -moz-box-shadow: 2px 2px 16px 0px rgba(11, 14, 17, 0.2);
   box-shadow: 2px 2px 16px 0px rgba(11, 14, 17, 0.2);
}

@media (max-width: 1400px) {
  .button {
    padding: 10px 20px 20px 20px;
  }
}

@media (max-width: 1200px) {
  .button {
    font-size: 48px;
    line-height:  48px;
  }
}

@media (max-width: 768px) {
  .button {
    /* padding: 10px 30px; */
    /* height: 70px; */
    /* width: 70%; */
    font-size: 46px;
    align-self: center;
    /* position: absolute;
    top: 141vh;

    left: 50%;
    transform: translate(-50%, 0); */
    margin-bottom: 50px;
    margin-top: 20px;
  }
}